---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    gap: var(--card-gap);
    display: flex;
    overflow-x: auto;
  }

  li {
    background: var(--card-background);
    border-radius: var(--card-border-radius);
    width: var(--content-width);
    color: var(--card-text-color);
    padding: var(--card-padding);
    flex-shrink: 0;
    flex-basis: 30%;
  }
</style>
